out
assignments/**.jar
assignments/5-2.minictojasm/docs/report.xdv
assignments/5-2.minictojasm/docs/report.synctex.gz
assignments/5-2.minictojasm/docs/report.aux
assignments/5-2.minictojasm/docs/report.fdb_latexmk
assignments/5-2.minictojasm/docs/report.fls
assignments/5-2.minictojasm/docs/report.log
assignments/5-2.minictojasm/docs/report.pdf
assignments/5-2.minictojasm/docs/report.toc
assignments/5-2.minictojasm/docs/report.pdf
